.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: rem(-160px);
    &__row-up {
        background-color: #373e42;
        opacity: .85;
    }
    &__row-up-list  {
        display: flex;
        padding: rem(5px);
        width: 100%;
    }
    &__row-up-item {
        width: 33%;
        list-style-type: none;
        color: #fff;
        display: flex; 
        justify-content: flex-start;
        &::after {
            content: '';
            display: flex;
            width: rem(1px);
            height: rem(87px);
            background-color: #fff;
            opacity: .2;
            margin-left: rem(50px);
            
            
        }
        &:last-child:after {
            display: none;
        }
        &--last {
            flex-direction: column;
        }
    }
    &__row-down {
        width: 100%;
        background-color: #6c9c5a;
        opacity: 0.85;
        text-align: center;
    }
    &__row-up-desc {
        font-family: 'Roboto';
        font-size: rem(16px);
        font-weight: 300;
        color: #ffffff;
        padding: rem(5px);
        &--last {
            color: rgba(255, 255, 255, 0.5);
            font-style: italic;
        }
        &--author {
            font-weight: bold;
        }
    }
}